@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

$primary-color: #86b789;
$secondary-color: #2a353a;
$text-color:#736262;;
* {
    font-family: "Karla", sans-serif;
    margin: 0px;
    padding: 0px;
    ul {
        list-style: none;
    }
    a {
        text-decoration: none;
    }
    h1,
    h2,
    h3 {
        font-family: "Abril Fatface", cursive;
    }
}

.about-us {
    margin-top: 100px;
    h1 {
        margin-bottom: 30px;
        text-align: center;
        color: $secondary-color;
        font-size: 35px;
        letter-spacing: 1px;
        font-weight: 700;
    }
    p{
        color: $text-color;
        line-height: 30px;
        text-align: justify;
    }
    .about-card{
        margin-top: 50px;
        i{
            font-size: 50px;
            color: rgb(157, 88, 221);
        }
        h2{
            margin: 20px 0px;
            font-family: serif;
            color: $secondary-color;
            word-spacing: 4px;
            font-weight: 700;
            font-size: 25px;
        }
        p{
            line-height: 25px;
            text-align: left;
        }
    }
}

.mission-and-vision{
    border: 1px solid #000;
}