@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lobster+Two:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap");
body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

body a {
  text-decoration: none;
  color: #000;
}

body a:hover {
  text-decoration: none;
}

body ul {
  list-style: none;
  margin-bottom: 0px;
  padding-left: 0px;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: "Quicksand", sans-serif;
}

.add-to-card {
  margin: 150px 0px 100px 0px;
}

.add-to-card h2 {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-left: 20px;
  font-size: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.add-to-card .cross-button {
  display: none;
  position: absolute;
  top: 25px;
  right: 25px;
}

.add-to-card .cross-button i {
  padding: 5px;
  font-size: 28px;
  font-weight: lighter;
  cursor: pointer;
}

.add-to-card .remove-from-card {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.add-to-card .remove-from-card i {
  padding: 5px;
  cursor: pointer;
  font-size: 30px;
  opacity: .8;
}

.add-to-card .cart-sidebar p {
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
}

.add-to-card .card {
  margin-top: 50px;
  position: relative;
  border: none;
  border-bottom: 5px solid #eee;
  margin-bottom: 30px;
}

.add-to-card .card .product-img img {
  width: 200px;
}

.add-to-card .card .details {
  margin-left: 30px;
}

.add-to-card .card .details .name {
  display: inline-block;
  text-align: left;
  font-size: 20px;
  margin-bottom: 10px;
}

.add-to-card .card .details .number-of-product {
  border: 1px solid #000;
  width: 50px;
  border: none;
  text-align: center;
}

.add-to-card .card .details .decrease, .add-to-card .card .details .increase {
  border: 1px solid #eee;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 20px;
}

.add-to-card .card .details p {
  margin-top: 10px;
  font-size: 20px;
}

.add-to-card .card .details .order-now-button {
  background-color: #2a353a;
  color: #fff;
  padding: 5px 20px;
  border-radius: 20px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.add-to-card .card .details .order-now-button:hover {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  background-color: #86b789;
}

.add-to-card .sub-total span {
  margin-left: 20px;
  font-size: 18px;
}

.add-to-card .sub-total .sub-total-amount {
  margin-right: 20px;
}

.add-to-card .checkout-button {
  margin-top: 20px;
  text-align: center;
}

.add-to-card .checkout-button a {
  padding: 8px 50px;
  text-transform: uppercase;
  border-radius: 20px;
  background-color: #2a353a;
  color: #fff;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.add-to-card .checkout-button a:hover {
  background-color: #86b789;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
/*# sourceMappingURL=add-to-cart.css.map */