@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

$primary-color: #86b789;
$secondary-color: #2a353a;

* {
    font-family: "Karla", sans-serif;
    margin: 0px;
    padding: 0px;
    ul {
        list-style: none;
    }
    a {
        text-decoration: none;
    }
    h1,
    h2,
    h3 {
        font-family: "Abril Fatface", cursive;
    }
}

header {
    position: relative;
    background-color: #fff;
    .header-logo {
        img {
            width: 100%;
        }
    }
    nav {
        ul {
            margin-bottom: 0px;
            li {
                a {
                    display: block;
                    padding-bottom: 10px;
                    font-size: 14px;
                    letter-spacing: 1px;
                    color: $secondary-color;
                    i {
                        color: #000;
                        font-size: 12px;
                    }
                }
            }
            .catogery {
                position: relative;
                &:hover {
                    .shop-by-catogery {
                        display: block;
                    }
                }
            }
        }
    }
    .add-to-cart-icon,.add-to-bag-icon{
        position: absolute;       
        bottom: 10px;
        right: 10%;
        img{
            cursor: pointer;
            width: 30px;
        }
        span{
            cursor: pointer;
            margin-left: 5px;
        }
    }
    .add-to-bag-icon{
        right: 5%;
    }
}

footer {
    position: relative;
    margin-top: -10px;
    padding: 50px;
    background-color: $secondary-color;
    color: #fff;

    .footer-img1,
    .footer-img2 {
        img {
            width: 100%;
        }
    }
    .footer-nav {
        margin-left: 100px;
        ul {
            padding-left: 0px;
            li {
                text-align: left;
                a {
                    color: #fff;
                }
            }
        }
    }

    .footer-details,
    .footer-nav,
    .social-links,
    .footer-newslatter {
        h2 {
            color: #fff;
            font-size: 35px;
            letter-spacing: 1px;
            font-family: serif;
            font-weight: 700;
        }
    }
    .footer-nav,
    .social-links {
        ul {
            padding-left: 0px;
            li {
                margin-bottom: 5px;
                a {
                    color: #fff;
                    transition: all 0.3s ease;
                    &:hover {
                        transition: all 0.3s ease;
                        color: $primary-color;
                    }
                }
            }
        }
    }
    .footer-newslatter {
        h2 {
            font-size: 26px;
            font-weight: 700;
            margin-bottom: 25px;
        }
        input {
            width: 70%;
            height: 40px;
            padding-left: 10px;
            color: #000;
        }
        a {
            background-color: $primary-color;
            padding: 10px;
            color: #fff;
        }
        .footer-icons {
            margin-top: 25px;
            i {
                color: #fff;
                margin-right: 15px;
                font-size: 20px;
            }
        }
    }
    .footer-icons {
        cursor: pointer;
    }
    .watermark {
        position: absolute;
        bottom: 10px;
        left: 5%;
        opacity: 0.5;
        a {
            color: #fff;
        }
    }
}

.shop-by-catogery {
    display: none;
    position: absolute;
    left: 0px;
    top: 160px;
    z-index: 99;
    width: 100%;
    background-color: #eee;
    overflow: hidden;
    .sub-catogery {
        padding: 10px;
        position: relative;
        text-align: center;
        display: inline-block;
        border-right: 1px solid #000;
        height: 700px;
        li {
            text-align: left;
            margin-bottom: 5px;
            a {
                transition: all.3s ease;
                display: block;
                color: $secondary-color;
                &:hover {
                    transition: all.3s ease;
                    color: $primary-color;
                    text-decoration: underline;
                }
            }
        }

        /* hover game */
        .immune,
        .sex,
        .joint-pain,
        .weight-loss,
        .hair-growth,
        .addiction,
        .others {
            i {
                font-size: 10px;
                padding-left: 5px;
            }
            .fa-chevron-down {
                display: none;
            }
            &:hover {
                .fa-chevron-right {
                    display: none;
                }
                .fa-chevron-down {
                    display: inline-block;
                }
                transition: all 0.3s ease;
                .deep-catogery {
                    visibility: visible;
                    opacity: 1;
                    top: 10px;
                }
            }
        }
        .sex {
            &:hover {
                .deep-catogery {
                    top: 45px;
                }
            }
        }

        .joint-pain {
            &:hover {
                .deep-catogery {
                    top: 85px;
                }
            }
        }
        .weight-loss {
            &:hover {
                .deep-catogery {
                    top: 120px;
                }
            }
        }
        .hair-growth {
            &:hover {
                .deep-catogery {
                    top: 150px;
                }
            }
        }
        .addiction {
            &:hover {
                .deep-catogery {
                    top: 190px;
                }
            }
        }
        .others {
            &:hover {
                .deep-catogery {
                    top: 190px;
                }
            }
        }

        .deep-catogery {
            visibility: hidden;
            opacity: 0;
            width: 100%;
            border: 1px solid #eee;
            position: absolute;
            text-align: left;
            top: -100px;
            transition: all 0.3s ease;
            left: 100%;
            li {
                margin-bottom: 5px;
                a {
                    color: $secondary-color;
                    transition: all.3s ease;
                    &:hover {
                        transition: all.3s ease;
                        text-decoration: underline;
                        color: $primary-color;
                    }
                }
            }
        }
    }
}

.message{
    position: fixed;
    z-index: 99999;
    background-color: $secondary-color;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    padding: 5px 30px;
    border-radius: 5px;
    top: 0px;
    left: 50%;
    transition: all .3s ease;
    transform: translate(-50%);
}

@media only screen and (max-width: 1400px) {
    .shop-by-catogery {
        top: 145px;
    }
}

@media only screen and (max-width: 1200px) {
    .shop-by-catogery {
        top: 130px;
    }
}

@media only screen and (max-width: 991px) {
    .shop-by-catogery {
        top: 110px;
    }
}
