@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lobster+Two:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap");
* {
  font-family: "Karla", sans-serif;
  margin: 0px;
  padding: 0px;
}

* ul {
  list-style: none;
}

* a {
  text-decoration: none;
}

* h1,
* h2,
* h3 {
  font-family: "Oleo Script", cursive;
}

header {
  position: relative;
  background-color: #fff;
}

header .header-logo img {
  width: 100%;
}

header nav ul {
  margin-bottom: 0px;
}

header nav ul li a {
  display: block;
  padding-bottom: 10px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #2a353a;
}

header nav ul li a i {
  color: #000;
  font-size: 12px;
}

header nav ul .catogery {
  position: relative;
}

header nav ul .catogery:hover .shop-by-catogery {
  display: block;
}

header .add-to-cart-icon, header .add-to-bag-icon {
  position: absolute;
  bottom: 10px;
  right: 10%;
}

header .add-to-cart-icon img, header .add-to-bag-icon img {
  width: 30px;
}

header .add-to-cart-icon span, header .add-to-bag-icon span {
  margin-left: 5px;
}

header .add-to-bag-icon {
  right: 5%;
}

.home-banner .banner1 {
  position: relative;
}

.home-banner .banner1 a {
  position: absolute;
  bottom: 142px;
  right: 600px;
  padding: 10px 20px;
  background-color: #d48b83;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.home-banner .banner1 a:hover {
  background-color: #2a353a;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 20px;
}

.home-banner .banner2 {
  position: relative;
}

.home-banner .banner2 a {
  position: absolute;
  top: 500;
  left: 85px;
  padding: 10px 20px;
  background-color: #d48b83;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.home-banner .banner2 a:hover {
  background-color: #2a353a;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 20px;
}

.today-product {
  margin-bottom: 100px;
}

.today-product .today-product-heading {
  color: #2a353a;
  font-size: 35px;
  letter-spacing: 1px;
  font-family: serif;
  font-weight: 700;
}

.today-product .today-product-img {
  position: relative;
  text-align: center;
}

.today-product .today-product-img img {
  width: 100%;
}

.today-product .today-product-img .img1 {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.today-product .today-product-img .img2 {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.today-product .today-product-img:hover .img2 {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.today-product .today-product-img:hover .img1 {
  opacity: 0;
  visibility: hidden;
}

.today-product .today-product-details {
  margin-top: 100px;
  padding: 40px 0;
}

.today-product .today-product-details h2 {
  font-family: serif;
  color: #2a353a;
  word-spacing: 4px;
  font-weight: 500;
  font-size: 20px;
}

.today-product .today-product-details span {
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 20px;
}

.today-product .today-product-details span i {
  font-weight: bold;
  font-size: 16px;
  font-weight: 300;
}

.today-product .today-product-details .add-to-card-button {
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 1px;
  color: #fff;
  display: block;
  background-color: #86b789;
  padding: 10px 0px;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.today-product .today-product-details .add-to-card-button:hover {
  background-color: #2a353a;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 20px;
}

.today-product .today-product-details img {
  width: 100%;
}

.today-product .today-product-details .active {
  border: 1px solid #86b789;
}

.all-product {
  background-color: #eee;
  padding-top: 50px;
  margin-bottom: 50px;
}

.all-product h3 {
  margin-bottom: 80px;
  color: #2a353a;
  font-size: 35px;
  letter-spacing: 1px;
  font-family: serif;
  font-weight: 700;
}

.all-product .product-card h4 {
  color: #2a353a;
  font-weight: 700;
  margin-top: 20px;
  font-size: 18px;
}

.all-product .product-card span {
  margin-bottom: 50px;
  position: relative;
  color: #2a353a;
}

.all-product .product-card span::after {
  position: absolute;
  top: 25px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 104px;
  content: "";
  height: 2px;
  background-color: #86b789;
}

.all-product .product-card span i {
  font-size: 12px;
  font-weight: 300;
}

.all-product .product-card .img-wrapper {
  position: relative;
  text-align: center;
}

.all-product .product-card .img-wrapper img {
  width: 60%;
}

.all-product .product-card .img-wrapper .img1 {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.all-product .product-card .img-wrapper .img2 {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  top: 0px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.all-product .product-card:hover .img-wrapper .img2 {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.all-product .product-card:hover .img-wrapper .img1 {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.all-product .product-card:hover span,
.all-product .product-card:hover h4 {
  color: #969100;
}

.all-product .see-all-product {
  margin-top: 50px;
}

.all-product .see-all-product a {
  padding: 10px;
  background-color: #86b789;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.all-product .see-all-product a:hover {
  background-color: #2a353a;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 20px;
  text-decoration: none;
}

.portfolio {
  margin: 50px 0;
}

.portfolio .portfolio-heading {
  margin-bottom: 10px;
}

.portfolio .portfolio-heading h2 {
  color: #2a353a;
  font-size: 35px;
  letter-spacing: 1px;
  font-family: serif;
  font-weight: 700;
}

.portfolio .portfolio-logo img {
  width: 100%;
}

.shopping-catogery1 {
  padding: 50px 0;
  background-color: #eee;
}

.shopping-catogery1 a {
  display: block;
  border: 1px solid #b4a9a9;
}

.shopping-catogery1 h2 {
  color: #2a353a;
  font-size: 35px;
  letter-spacing: 1px;
  font-family: serif;
  font-weight: 700;
  margin-bottom: 20px;
}

.shopping-catogery1 .catogery {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
}

.shopping-catogery1 .catogery .img-wrapper {
  border: 1px solid #b4a9a9;
}

.shopping-catogery1 .catogery .img-wrapper img {
  width: 100%;
  overflow: hidden;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.shopping-catogery1 .catogery span {
  position: absolute;
  z-index: 99;
  font-size: 24px;
  top: 40%;
  left: 40%;
  color: #fff;
}

.shopping-catogery1 .catogery span::after {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  content: "";
  top: 30px;
  left: 0px;
  width: 0%;
  height: 2px;
  background-color: #fff;
}

.shopping-catogery1 .catogery::after {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.shopping-catogery1 .catogery:hover {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.shopping-catogery1 .catogery:hover::after {
  background-color: rgba(0, 0, 0, 0.5);
}

.shopping-catogery1 .catogery:hover span::after {
  width: 100%;
}

.shopping-catogery1 .catogery:hover img {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.quotes {
  background-color: #eee;
}

.quotes .quotes-img img {
  width: 100%;
}

.shopping-catogery2 {
  padding: 80px 0;
  background-color: #497bc2;
  background-color: #eee;
}

.shopping-catogery2 a {
  display: block;
  border: 1px solid #b4a9a9;
}

.shopping-catogery2 .catogery {
  position: relative;
}

.shopping-catogery2 .catogery .img-wrapper img {
  width: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.shopping-catogery2 .catogery span {
  position: absolute;
  z-index: 99;
  font-size: 24px;
  top: 40%;
  left: 30%;
  color: #fff;
}

.shopping-catogery2 .catogery span::after {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  content: "";
  top: 30px;
  left: 0px;
  width: 0%;
  height: 2px;
  background-color: #fff;
}

.shopping-catogery2 .catogery::after {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.shopping-catogery2 .catogery:hover {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.shopping-catogery2 .catogery:hover::after {
  background-color: rgba(0, 0, 0, 0.5);
}

.shopping-catogery2 .catogery:hover span::after {
  width: 100%;
}

.shopping-catogery2 .catogery:hover img {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.shopping-catogery2 .catogery3 a {
  top: 40%;
  left: 20%;
}

.logs {
  padding: 50px 0px;
  background-color: #86b789;
  font-family: "Cinzel", serif;
}

.logs .year-of-exprience,
.logs .countries,
.logs .universities,
.logs .students {
  text-align: center;
}

.logs .year-of-exprience .number,
.logs .countries .number,
.logs .universities .number,
.logs .students .number {
  font-family: serif;
  color: #fff;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 0px;
}

.logs .year-of-exprience p,
.logs .countries p,
.logs .universities p,
.logs .students p {
  color: #fff;
  font-size: 16px;
}

.logs .year-of-exprience .plus-icon,
.logs .countries .plus-icon,
.logs .universities .plus-icon,
.logs .students .plus-icon {
  color: #fff;
  font-size: 30px;
}

.testimonials {
  margin: 100px 0px;
}

.testimonials h2 {
  margin-bottom: 80px;
  color: #2a353a;
  font-size: 35px;
  letter-spacing: 1px;
  font-family: serif;
  font-weight: 700;
  margin-bottom: 50px;
}

.testimonials .customer-card {
  padding: 50px;
  background: linear-gradient(228deg, #f6fafe 0%, #edeff6 82%);
}

.testimonials .customer-card:hover .type::after {
  width: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.testimonials .customer-card:hover i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.testimonials .customer-card .type {
  position: relative;
}

.testimonials .customer-card .type::after {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  bottom: -5px;
  left: 0px;
  width: 0%;
  height: 2px;
  content: "";
  background-color: #86b789;
}

.testimonials .customer-card i {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  font-size: 30px;
  color: skyblue;
}

.testimonials .customer-card p {
  min-height: 110px;
  line-height: 25px;
  word-spacing: 5px;
  margin: 20px 0px;
  text-align: justify;
}

.testimonials .customer-card .cname {
  font-weight: bold;
}

.testimonials .customer-card .designation {
  opacity: 0.5;
}

.testimonials .owl-carousel .owl-dots.disabled,
.testimonials .owl-carousel .owl-nav.disabled {
  display: block;
}

.testimonials .owl-next span,
.testimonials .owl-prev span {
  display: none;
}

.videos .video-wrapper {
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.videos .video-wrapper iframe {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 600px;
}

/* .blogs{
    .heading{
        font-size: 26px;
        font-weight: 700;
    }
    .blog-content{
        h2{
            font-size: 20px;
            font-weight: 700;
        }
        span{
            color: $primary-color;
        }
        a{
            display: block;
            margin-bottom: 50px;
            position: relative;
            &::after{
                position: absolute;
                top: 23px;
                left: -1px;
                width: 85px;
                content: '';
                height: 1px;
                background-color: #000;
            }
        }
    }
    .all-blogs{
       a{
           display: inline-block;
           margin-bottom: 80px;
        padding: 10px;
        background-color: $primary-color;
        color: #fff;
       }
    }
} */
footer {
  position: relative;
  margin-top: -10px;
  padding: 50px;
  background-color: #2a353a;
  color: #fff;
}

footer .footer-img1 img,
footer .footer-img2 img {
  width: 100%;
}

footer .footer-nav {
  margin-left: 100px;
}

footer .footer-nav ul {
  padding-left: 0px;
}

footer .footer-nav ul li {
  text-align: left;
}

footer .footer-nav ul li a {
  color: #fff;
}

.footer-details h2,
.footer-nav h2,
.social-links h2,
.footer-newslatter h2 {
  color: #fff;
  font-size: 35px;
  letter-spacing: 1px;
  font-family: serif;
  font-weight: 700;
}

.footer-nav ul, .social-links ul {
  padding-left: 0px;
}

.footer-nav ul li, .social-links ul li {
  margin-bottom: 5px;
}

.footer-nav ul li a, .social-links ul li a {
  color: #fff;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.footer-nav ul li a:hover, .social-links ul li a:hover {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  color: #86b789;
}

.footer-newslatter h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 25px;
}

.footer-newslatter input {
  width: 70%;
  height: 40px;
  padding-left: 10px;
  color: #000;
}

.footer-newslatter a {
  background-color: #86b789;
  padding: 10px;
  color: #fff;
}

.footer-newslatter .footer-icons {
  margin-top: 25px;
}

.footer-newslatter .footer-icons i {
  color: #fff;
  margin-right: 15px;
  font-size: 20px;
}

.footer-icons {
  cursor: pointer;
}

.watermark {
  position: absolute;
  bottom: 10px;
  left: 5%;
  opacity: 0.5;
}

.watermark a {
  color: #fff;
}

/*

.dropdown-page{
    display: none;
    position: absolute;
    z-index: 99;
    width: 100%;
    top: 140px;
    left: 0px;
    background-color: #e9e5de;
    .dropdown-left{
        border: 1px solid #000;
        ul{
            li{
                a{
                    padding-bottom: 10px;
                    display: block;
                    padding-top: 10px;
                    color:#413b3b;
                }
            }
        }
    }
    .dropdown-right{
        border-left: 1px solid #000;
        border: 1px solid #000;
        h3{
            text-align: center;
            margin-top: 20px;
            padding-bottom: 10px;
            font-size: 16px;
        }
        ul{
            margin-bottom: 40px;
            li{
                a{
                    display: block;
                    margin-top: 10px;
                    color:#413b3b;
                }
            }
        }
    }
}*/
@media only screen and (max-width: 1600px) {
  .home-banner .banner1 a {
    bottom: 100px;
    right: 350px;
  }
}

@media only screen and (max-width: 1400px) {
  .home-banner .banner1 a {
    bottom: 70px;
    right: 300px;
  }
}
/*# sourceMappingURL=index.css.map */